<strong>Olá, {{ student }}</strong>
<p>Você está matriculado na Gym</p>
<p>
  <strong>Plano:</strong> {{ plan }} <br/>
  <strong>Duração:</strong> {{ duration }} mes(es)<br/>
  <br/>
  <small>Qualquer duvida ligue para a central de atendimentos.</small>
</p>
